<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sanenchen.classWarring">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".UI.ChooseSchoolActivity"></activity>
        <activity android:name=".UI.AboutActivity" />
        <activity android:name=".Setting.SettingActivity" />
        <activity android:name=".UI.TabActivity" />
        <activity android:name=".UI.NewUserActivity" />
        <activity android:name=".UI.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.TellWarning" />
        <activity android:name=".UI.ClassWarningSearchActivity" />
    </application>

</manifest>